cask :v1 => 'xcode' do
  version '<%= xcodeVersion %>'
  sha256 "<%= xcodeChecksum %>"

  # To download Xcode.dmg, see http://stackoverflow.com/a/10335943/622662
  url 'http://<%= hostName %>/Xcode_<%= xcodeVersion %>.dmg'
  name 'Xcode'
  homepage 'https://developer.apple.com'
  license :freemium

  app 'Xcode.app'
end
